<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<nav>
			<ul>
				<li><a href="http://www.hiphopearly.com/tracks"><img src="latesttrackssmall.png">Latest Track</a></li>
				<li><a href="http://news.hiphopearly.com"><img src="newssmall.png"> Latest News</a> </li>
				<li><a href="http://www.hiphopearly.com/hot-this-month"><img src="hotsmall.png"> Hot This Month</a> </li>
				<li><a href="http://www.hiphopearly.com/promoted"><img src="promotedsmall.png"> Promoted Tracks</a> </li>
				<li><a href="https://play.google.com/store/apps/details?id=air.com.idlemedia.hiphopearly.mobile.android"><img src="appsmall.png">App</a> </li>
			</ul>
		</nav>

	<!-- End Component -->
	
</body>
</html>