<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<nav>
			<ul>
				<li><a href="">Latest Track</a></li>
				<li><a href="">Latest News</a> </li>
				<li><a href="">Hot This Month</a> </li>
				<li><a href="">Promoted Tracks</a> </li>
				<li><a href="">App</a> </li>
			</ul>
		</nav>

	<!-- End Component -->
	
</body>
</html>