<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<header>
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Movies, TV & Showtimes</a> </li>
				<li><a href="">Celebs, Events, & Photos</a> </li>
				<li><a href="">News & Community</a> </li>
				<li><a href="">Watchlist</a> </li>
			</ul>
		</nav>

		<a href="">
		<span>

		</span>
		</a>


		<a href="">
		<span>

		</span>
		</a>


		<a href="">
		<span>

		</span>
		</a>

	</header>

	

	<!-- End Component -->
	
</body>
</html>