<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<div>

		<h1>facebook</h1>


		<form  action="" autocomplete="on">
			<p>
				<label for="name" data-icon="n" >Email or Phone:</label>
				<input id="name" name="name"  type="text" placeholder="johnsmith@aol.com"/>

				<label for="password" data-icon="e">Password:</label>
				<input id="password" name="password"  type="text"/>
			</p>

			<p>
				<label for="loginkeeping">Keep me logged in</label>
				<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
				<a href="https://www.facebook.com/login/identify?ctx=recover">Forgot your password</a>
			</p>

			</form>


		<form  action="" autocomplete="on">

			<h2>Sign Up</h2>


				<p>
					It's free and always will be.
				</p>

				<p>
					<input id="firstname" name="firstname"  type="text" placeholder="First name"/>
					<input id="lastname" name="lastname"  type="text" placeholder="Last name"/>
				</p>

				<p>
					<input id="email" name="email"  type="text" placeholder="Email or mobile number"/>
				</p>

				<p>
					<input id="reemail" name="reemail"  type="text" placeholder="Re-enter email or mobile number"/>

				</p>

				<p>
					<input id="pass" name="pass"  type="text" placeholder="New password"/>

				</p>

			</form>

			<!--<div>-->
	<!--<header>-->
		<!--<h1>facebook</h1>-->
			<!--<form  action="" autocomplete="on">-->
				<!--<p>-->
					<!--<label for="username" class="uname" data-icon="u" >Email or Phone:</label>-->
					<!--<input id="username" name="username" required="required" type="text" placeholder="Username"/>-->
					<!--<label for="loginkeeping">Keep me logged in</label>-->
					<!--<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />-->
				<!--</p>-->

				<!--<p>-->
					<!--<label for="password" class="youpasswd" data-icon="p">Password:</label>-->
					<!--<input id="password" name="password" required="required" type="password" placeholder="Password" />-->
				<!--</p>-->
				<!--<button><a href="">Forgot Your Password</a></button>-->
				<!--</p>-->
				<!--<p class="login button">-->
					<!--<button type="submit">Login</button>-->
				<!--</p>-->
			<!--</form>-->
	<!--</header>-->

	<!--<section>-->
	<!--<form  action="" autocomplete="on">-->
		<!--<h1> Sign up </h1>-->
		<!--<p>-->
			<!--<label for="firstnamesignup" class="fname" data-icon="u">First Name:</label>-->
			<!--<input id="firstnamesignup" name="firstnamesignup" required="required" type="text" placeholder="First" />-->
		<!--</p>-->
		<!--<p>-->
			<!--<label for="lastnamesignup" class="lname" data-icon="u">Last Name:</label>-->
			<!--<input id="lastnamesignup" name="lastnamesignup" required="required" type="text" placeholder="Last" />-->
		<!--</p>-->
		<!--<p>-->
			<!--<label for="emailsignup" class="youmail" data-icon="e" >Email:</label>-->
			<!--<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="example@domain.com"/>-->
		<!--</p>-->

		<!--<p>-->
			<!--<label for="passwordsignup" class="youpasswd" data-icon="p">Password:</label>-->
			<!--<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="Password"/>-->
		<!--</p>-->
		<!--<p>-->
			<!--<label for="passwordsignup_confirm" class="password" data-icon="p">Confirm Password:</label>-->
			<!--<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="Password"/>-->
		<!--</p>-->

		<!--<p>-->
			<!--<button type="submit">Login</button>-->
		<!--</p>-->
	<!--</form>-->
	<!--</section>-->
<!--</div>-->


	<!-- End Component -->
	</div>
</body>
</html>