<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<div>
	<h1>facebook</h1>
	<form  action="" autocomplete="on">
		<h1>Log in</h1>
		<p>
			<label for="username" class="uname" data-icon="u" >Email or Phone:</label>
			<input id="username" name="username" required="required" type="text" placeholder="Username"/>
			<label for="loginkeeping">Keep me logged in</label>
		<p class="keeplogin">
			<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
		</p>

		<p>
			<label for="password" class="youpasswd" data-icon="p">Password:</label>
			<input id="password" name="password" required="required" type="password" placeholder="Password" />
		</p>
		<p><a href="">Forgot Your Password</a>
		</p>
		<p class="login button">
			<input type="submit" value="Login" />
		</p>
	</form>

	<section>
	<form  action="" autocomplete="on">
		<h1> Sign up </h1>
		<p>
			<label for="firstnamesignup" class="fname" data-icon="u">First Name:</label>
			<input id="firstnamesignup" name="firstnamesignup" required="required" type="text" placeholder="First" />
		</p>
		<p>
			<label for="lastnamesignup" class="lname" data-icon="u">Last Name:</label>
			<input id="lastnamesignup" name="lastnamesignup" required="required" type="text" placeholder="Last" />
		</p>
		<p>
			<label for="emailsignup" class="youmail" data-icon="e" >Email:</label>
			<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="example@domain.com"/>
		</p>

		<p>
			<label for="passwordsignup" class="youpasswd" data-icon="p">Password:</label>
			<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="Password"/>
		</p>
		<p>
			<label for="passwordsignup_confirm" class="password" data-icon="p">Confirm Password:</label>
			<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="Password"/>
		</p>

		<p>
		<p class="signin button">
			<input type="submit" value="Register"/>
		</p>
	</form>
	</section>
</div>


	<!-- End Component -->
	
</body>
</html>