<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>

		<h1>Contact us</h1>

				<p>We are here to answer any questions you may have about our combadi experiences. Reach out to us and we'll respond as soon as we can.
				</p>

				<p>
					Even if there is something you have always wanted to experience and can't find it on combadi, let us know and we promise we'll do our best to find it for you and send you there.
				</p>


		<form  action="" autocomplete="on">
				<p>
					<label for="name" data-icon="n" >Name: </label>
					<input id="name" name="name" required="required" type="text"/>


				</p>

			<p>
				<label for="email" data-icon="e">Email: </label>
				<input id="email" name="email" required="required" type="text"/>
			</p>

				<!--<p>-->
					<!--<label for="email" class="email" data-icon="e">Email:</label>-->
					<!--<input id="email" name="email" required="required" type="password"/>-->
				<!--</p>-->

				<p>
					<label for="textarea">Message: </label>
					<textarea id="textarea" name="textarea"></textarea>
				</p>

				<p>
					<label for="sCode" data-icon="c">How much is 6+8?:</label>
					<input id="sCode" name="sCode" required="required" type="text"/>
				</p>

			<button>SEND</button>

			</form>

	</section>


	<!--<section>-->
		<!--<div class="wrapper" >-->

			<!--<section>-->

			<!--</section>-->

			<!--<section>-->

				<!--<article>-->
					<!--<img src="" alt="">-->
					<!--<h2>Title</h2>-->
					<!--<p>paragraph copy...</p>-->
				<!--</article>-->

				<!--<ul>-->
					<!--<li><a href="">previous</a> </li>-->
					<!--<li><a href="">next</a> </li>-->
				<!--</ul>-->

				<!--<section>-->
					<!--<h2>Top Games</h2>-->
					<!--<article>-->
						<!--<img src="" alt="">-->
						<!--<h3>Title</h3>-->
						<!--<p>paragraph copy...</p>-->
					<!--</article>-->
				<!--</section>-->

			<!--</section>-->
		<!--</div>-->
	<!--</section>-->

	<!-- End Component -->

</body>
</html>