/* */
/*================================================================================*/
/*COMPONENT STYLESHEET*/
/*================================================================================ */

/*div{*/
    /*background-color: #eeffee;*/

/*}*/

/*Headings*/

h1{
    color: #2c475a;
    font-family: Myriad Pro;
    padding: 10px;
    margin: auto;
    position:relative;
    bottom: -15px;
}

/*Paragraphs*/
p{
    padding: 10px;
    margin: auto;
}

/*Forms*/
input, textarea{
    background-color: #e0e1db;
    padding: 5px;
    border-radius: 5px;
}

input ,label, textarea{
    font-family: Myriad Pro;
    display: block;
}

/*Asteris Special Key*/
form p :after {
    content:"*";
    color:#e65753 ;
}
/*Asteris Special Key*/

form p{
    float: left;
    width: 50%;
}

form p:last-of-type{
   position: relative;
    top: 110px;
    left: -262px;
}

textarea{
    width:430px;
    padding: 20px;
}



/*Button*/
button{
    background-color: #e65753;
    float: right;
    position: absolute;
    left: 330px;
    width: 100px;
    padding: 7px;
    color: #ffffff;
    font-family: Myriad Pro;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 110px;
    left: -90px;
}











/*html{ font-size: 62.55%*/
/*}*/

/*body{*/
    /*font: 400 1.6cm/1.5 sans-serif;*/

/*}*/

/*section{*/
    /*max-width: 1000px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
/*}*/

/*h2{*/
    /*font-weight: 600;*/
    /*font-size: 2.4rem;*/
    /*text-transform: uppercase;*/
/*}*/

/*h3{*/
   /*padding-top: 2rem;*/
    /*font-size: 1.8rem;*/
    /*color: #555555;*/
/*}*/


/* Team Member */
/*article{*/
    /*width: calc(25% - 4rem);*/
    /*margin: 0 2rem;*/
    /*padding: 2rem;*/
    /*float: left;*/
    /*background: #ffffff;*/
/*}*/

/*img{*/
    /*border-radius:50%;*/
/*}*/

/*li{*/
    /*display: inline-block;*/
/*}*/

/*li a{*/
    /*display:block;*/
    /*width: 2rem;*/
    /*height: 2rem;*/
    /*background: #cccccc;*/
    /*text-indent: -9999px;*/
/*}*/

/*Social Media Pic Links*/
/*li a[href*='facebook']{*/
    /*background: url(images/facebook.jpg) no-repeat center;*/
/*}*/

/*li a[href*='twitter']{*/
    /*background: url(images/twitter.jpg) no-repeat center;*/
/*}*/

/*li a[href*='google']{*/
    /*background: url(images/google.jpg) no-repeat center;*/
/*}*/

/*p:last-child a{*/
    /*display: inline-block;*/
    /*width: 2rem;*/
    /*height: 2rem;*/
    /*background: #333333;*/
    /*border-radius: 50%;*/
    /*text-indent: -99999px;*/
/*}*/

/*p:last-child a::after{*/
    /*content: 'hello';*/
    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: ;*/
    /*border-bottom: ;*/
    /*border-left: ;*/


    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/


/* HEADER ======================================== */

/* HEADER ======================================== */