<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<h2>Contact Us</h2>

	<p>We are here to answer any questions you may have about our combadi experiences. Reach out to us and we'll respond as soon as we can.

		Even if there is something you have always wanted to experience and can't find it on combadi, let us know and we promise we'll do our best to find it for you and send you there.
	</p>

	<FORM class="contact" action="" method="post" enctype="text/plain">
		<p>Email us your interests or leave a comment about us!</p>

					<B>Name:</B>

					<INPUT type="text" name="name" size="20">


				<B>Email:</B>


					<INPUT type="text" name="email" size="20">


					<B>Message:</B>

		<INPUT type="text" name="message" size="20">


					<B>How Much Is 6 + 8?</B>
		<INPUT type="text" name="code" size="20">


		<INPUT type="submit" name="submit" value="Send">

		</FORM>


	<!--<section>-->
		<!--<div class="wrapper" >-->

			<!--<section>-->

			<!--</section>-->

			<!--<section>-->

				<!--<article>-->
					<!--<img src="" alt="">-->
					<!--<h2>Title</h2>-->
					<!--<p>paragraph copy...</p>-->
				<!--</article>-->

				<!--<ul>-->
					<!--<li><a href="">previous</a> </li>-->
					<!--<li><a href="">next</a> </li>-->
				<!--</ul>-->

				<!--<section>-->
					<!--<h2>Top Games</h2>-->
					<!--<article>-->
						<!--<img src="" alt="">-->
						<!--<h3>Title</h3>-->
						<!--<p>paragraph copy...</p>-->
					<!--</article>-->
				<!--</section>-->

			<!--</section>-->
		<!--</div>-->
	<!--</section>-->

	<!-- End Component -->

</body>
</html>