<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>

		<h1>ABOUT.</h1>

		<p>And they say you can't go home again.
			Following 2011's Cole World: The Sideline Story and 2013's Born Sinner, Jermaine Lamarr Cole, aka Roc Nation rapper J. Cole, has returned to his childhood home in Fayetteville, North Carolina on his new, third album: 2014 Forest Hills Drive.
		</p>

		<p>Released December 9, 2014 Forest Hills Drive is a concept record about how a boy discovered his purpose, written from the perspective of a superstar rapper questioning the facets of fame.
			It is a meditation on the value of love relative to worldly success. And it is an extraordinary work from an artist who continues to grow and create.
			The narrative is a tale of Cole's and also serves as a series of metaphors that complete a story of passion, growth and ultimately reflection.
			It's an album to ingest as a whole with the sum of its parts creating the full tale.
		</p>

		<p>Known for his reflective lyricism, J. Cole attributes his musical identity to the house where, crucially, he had his first 'own bedroom'.
			"Having my own room allowed me turn into who I am. I enjoy privacy, I enjoy being by myself.
			That came from having my own room. Having my own room allowed me to shape myself."
		</p>

		<p>For J. Cole the young teenager, having his own bedroom was a sign of progress. When it comes to signifiers of success as an adult, Cole's  are impressive.
			He signed to Roc Nation before turning 25. His sophomore album Born Sinner outsold Kanye West's Yeezus.
			This year his acclaimed peer Kendrick Lamar professed deep admiration for J. Cole's lyricism.
			Then Jay-Z draped Cole with his chain in during a Master Square Garden concert on Cole's 29th birthday.
		</p>

		<!--css margin-->

	</section>
	

	<!-- End Component to separate-->
	
</body>
</html>