<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h2>ABOUT.</h2>
		<p>Biography of Jcole Here........</p>
		<p>Biography of Jcole Here........</p>
		<p>Biography of Jcole Here........</p>
		<p>Biography of Jcole Here........</p>

	</section>
	

	<!-- End Component -->
	
</body>
</html>