<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		<!--Navigation-->
		<nav>
			<ul>
				<li><a href="https://instagram.com/realronniebanks/">Instagram</a></li>
				<li><a href="https://twitter.com/iamronniebanks">Twitter</a> </li>
				<li><a href="https://vine.co/u/941654290144092160">Vine</a> </li>
				<li><a href="https://www.youtube.com/channel/UCF0A3GednU_w2X2st5Ed12g">Youtube</a> </li>
				<li><a href="https://www.facebook.com/ronnie.banks.73">Facebook</a></li>
			</ul>
		</nav>

		<p>&copy;2015 Ronnie Banks. All Rights Reserved.</p>
		<p><em>Created by:</em> </p>
	</footer>

	<!--FIRST ATTEMPT-->

		<!--<section id="instagram">-->
		<!--<a href="">Instagram</a>-->
	<!--</section>-->
		<!--<section id="twitter">-->
		<!--<a href="">Twitter</a>-->
	<!--</section>-->
		<!--<section id="vine">-->
		<!--<a href="">Vine</a>-->
	<!--</section>-->
		<!--<section id="youtube">-->
			<!--<a href="">Youtube</a>-->
		<!--</section>-->
		<!--<section id="facebook">-->
		<!--<a href="">Facebook</a>-->
	<!--</section>-->
		<!--<div>-->
			<!--<p>&copy;2015 Ronnie Banks. All Rights Reserved-->
				<!--Created by: Crissy</p>-->
		<!--</div>-->
	<!--</footer>-->

	

	<!-- End Component -->
	
</body>
</html>