<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		<!--Navigation-->
		<section id="instagram">
		<a href="">Instagram</a>
	</section>
		<section id="twitter">
		<a href="">Twitter</a>
	</section>
		<section id="vine">
		<a href="">Vine</a>
	</section>
		<section id="youtube">
			<a href="">Youtube</a>
		</section>
		<section id="facebook">
		<a href="">Facebook</a>
	</section>
		<div>
			<p>&copy;2015 Ronnie Banks. All Rights Reserved
				Created by: Crissy</p>
		</div>
	</footer>

	

	<!-- End Component -->
	
</body>
</html>