<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<section>
	<h1>Recommended</h1>
	<article>
		<img src="jjplanes.png" alt="Jcole_Planes">
		<h2><a href="https://www.youtube.com/watch?v=CLQADhTllGc">Jeremih ft. J Cole - Planes</a></h2>
		<p>by Mr.go_hard</p>
		<p>360,412 views 5 months ago</p>
	</article>

	<article>
		<img src="TSserve.png" alt="Tsongz_Serve">
		<h2><a href="https://www.youtube.com/watch?v=yoR1KSv1E4s">Trey Songz - Serve It Up [Official Audio]</a></h2>
		<p>by Trey Songz</p>
		<p>320,168 views 2 weeks ago</p>
	</article>

	<article>
		<img src="LCnothing.jpg" alt="LWayne_Nothing">
		<h2><a href="https://www.youtube.com/watch?v=Hdi98f1uKK0">Lil Wayne & Charlie Puth - Nothing But Trouble [From the...</a></h2>
		<p>by Atlantic Records</p>
		<p>742,558 views 1 week ago</p>
	</article>

	<article>
		<img src="CBtime.png" alt="Cbrown_Time">
		<h2><a href="https://www.youtube.com/watch?v=ragoFXQXKrU">Chris Brown - Time And A Place (CDQ)</a></h2>
		<p>by Johnny Miller </p>
		<p>528,443 views 1 month ago</p>
	</article>

	<article>
		<img src="CVtied.jpg" alt="Cveggies_Tied">
		<h2><a href="https://www.youtube.com/watch?v=uSEvpgohpfU">Casey Veggies - Tied Up ft. DeJ Loaf</a></h2>
		<p>by CaseyVeggiesVEVO</p>
		<p>598,506 views 1 month ago</p>
	</article>

	<article>
		<img src="PWcome.png" alt="Pharrell_Come">
		<h2><a href="https://www.youtube.com/watch?v=UfGMj10wOzg">Pharrell Williams - Come Get It Bae</a></h2>
		<p>by PharrellWilliamsVEVO</p>
		<p>52,507,045 views 11 months ago</p>
	</article>

	<article>
		<img src="BM2face.jpg" alt="Bmike_2Face">
		<h2><a href="https://www.youtube.com/watch?v=1fbxdIIFKGw">Bmike - 2 Faces feat Maribelle</a></h2>
		<p>by BMIKEMUSIC</p>
		<p>446,847 views 5 months ago</p>
	</article>

	<article>
		<img src="WUmatrimony.jpg" alt="Wale_Matrimony">
		<h2><a href="https://www.youtube.com/watch?v=XNwwZ56xz8A">Wale Ft. Usher - Matrimony (Official Video)</a></h2>
		<p>by Wale</p>
		<p>4,856,458 views 1 month ago</p>
	</article>

	<p><a href="https://www.youtube.com/">Show More</a></p>

</section>

	<!-- Component -->
	<!--<section>-->
		<!--<h2>Meet Our Team</h2>-->

		<!--<article>-->
			<!--<img src="" alt="">-->
			<!--<ul>-->
				<!--<li><a href="">facebook</a> </li>-->
				<!--<li><a href="">twitter</a> </li>-->
				<!--<li><a href="">google plus</a> </li>-->
			<!--</ul>-->
			<!--<h3>Sam Brown</h3>-->
			<!--<p><a>team member bio</a></p>-->
			<!--<a href="">more info</a>-->
		<!--</article>-->

		<!--<article>-->
			<!--<img src="" alt="">-->
			<!--<ul>-->
				<!--<li><a href="">facebook</a> </li>-->
				<!--<li><a href="">twitter</a> </li>-->
				<!--<li><a href="">google plus</a> </li>-->
			<!--</ul>-->
			<!--<h3>Sam Brown</h3>-->
			<!--<p><a>team member bio</a></p>-->
			<!--<a href="">more info</a>-->
		<!--</article>-->

		<!--<article>-->
			<!--<img src="" alt="">-->
			<!--<ul>-->
				<!--<li><a href="">facebook</a> </li>-->
				<!--<li><a href="">twitter</a> </li>-->
				<!--<li><a href="">google plus</a> </li>-->
			<!--</ul>-->
			<!--<h3>Sam Brown</h3>-->
			<!--<p><a>team member bio</a></p>-->
			<!--<a href="">more info</a>-->
		<!--</article>-->

		<!--<article>-->
			<!--<img src="" alt="">-->
			<!--<ul>-->
				<!--<li><a href="">facebook</a> </li>-->
				<!--<li><a href="">twitter</a> </li>-->
				<!--<li><a href="">google plus</a> </li>-->
			<!--</ul>-->
			<!--<h3>Sam Brown</h3>-->
			<!--<p><a>team member bio</a></p>-->
			<!--<a href="">more info</a>-->
		<!--</article>-->
	<!--</section>-->
	<!---->

	<!-- End Component -->
	
</body>
</html>