/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */

/*Headhings*/
h1{
    font-weight: bold;
}

article{
    margin: auto;
    padding: 5px;
    float: left;
    width: 25%;
}

h2 a, a{
    color: #207dc0;
    font-weight: bold;
}





