<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<div>
	<h1><strong>QUALITY</strong></h1>

	<p>Sed ut perspiciatis unde omnis iste natus error</p>

	<p>Eaque ipsa quae ab llo inventore veritatis et quast architecto beatae vitae dicta sunt explicabe. Nemo
	mi ipsaptatem quia voluptas sit aspernaturaut odit au</p>


	<a href="http://www.templatemonster.com">LEARN MORE</a>
</div>



	<!-- End Component -->
	
</body>
</html>