<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h2>Welcome To Our Company</h2>
		<article>
			<img src="1small.png" alt="">
			<h1><a href="">Computer Repair</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ante sit amet augue volutpat tristique. Vestibulum sed dui eleifend lorem pharetra tincidunt.</p>
		</article>

		<article>
			<img src="2small.png" alt="">
			<h1><a href="">Tablet Repair</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ante sit amet augue volutpat tristique. Vestibulum sed dui eleifend lorem pharetra tincidunt.</p>
		</article>

		<article>
			<img src="3small.png" alt="">
			<h1><a href="">Mobile Repair</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ante sit amet augue volutpat tristique. Vestibulum sed dui eleifend lorem pharetra tincidunt.</p>
		</article>

		<article>
			<img src="4small.png" alt="">
			<h1><a href="">Internet Services</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ante sit amet augue volutpat tristique. Vestibulum sed dui eleifend lorem pharetra tincidunt.</p>
		</article>

		<article>
			<img src="5small.png" alt="">
			<h1><a href="">Data Recovery</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ante sit amet augue volutpat tristique. Vestibulum sed dui eleifend lorem pharetra tincidunt.</p>
		</article>

		<article>
			<img src="6small.png" alt="">
			<h1><a href="">Support Online</a></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ante sit amet augue volutpat tristique. Vestibulum sed dui eleifend lorem pharetra tincidunt.</p>
		</article>
	</section>
	<!-- End Component -->
	
</body>
</html>