<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h2>Testimonials</h2>

		<article>
			<img src="napaismall.png" alt="">
			<p>Lorem ipsum dolor sit am</p>
			<p>Mary, Nepai</p>
		</article>

		<article>
			<img src="germanysmall.png" alt="">
			<p>Lorem ipsum dolor sit am</p>
			<p>Jane, Germany</p>
		</article>

		<article>
			<img src="chinasmall.png" alt="">
			<p>Lorem ipsum dolor sit am</p>
			<p>Robert, China</p>
		</article>
	</section>

	<!--Where does the link go ?-->
	<!-- End Component -->

</body>
</html>